html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

nav {
    ; /* Reduced margin to make it closer to the logo */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
}

.section {
    padding: 2em 1em;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    background-color: #fff;
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}

.project h2 {
    color: #333;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project p {
    color: #666;
}

.project-link {
    color: #007BFF;
    text-decoration: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 8px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    width: 100%;
}
