/* Reset some default styles */
h1{
    color: white;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
}

/* Styles for desktop */
body {
    padding: 50px;
}

/* Styles for tablet */
@media screen and (max-width: 768px) {
    body {
        padding: 20px;
    }
}

/* Styles for desktop */
.column {
    width: 50%;
    float: left;
}

/* Styles for mobile */
@media screen and (max-width: 480px) {
    .column {
        width: 100%;
        float: none;
    }
}

/* Styles for mobile */
@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }
}

html {
    margin: 0;
    padding: 0;
    background: black;
}

p {
    margin: 10px 0;
    font-size: 20px;
    color: white;
}

.copyright {
    font-size: 12px;
    color: greenyellow;
}

footer {
    color: greenyellow;
    background-color: black;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}


/*#region Header*/
@keyframes headerBackground {
    0% { background-image: url('img/rubi_logger.png'); }
    25% { background-image: url('img/btb.png'); }
    50% { background-image: url('img/TH.png'); }
    75% { background-image: url('img/FOP.png'); }
    100% { background-image: url('img/rubi_logger.png'); }

}

.slideshow {
    animation: headerBackground 10s infinite;
    background: no-repeat black;
    height: 1000px;
}

/*#region Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 10%; /* Add padding to create space from the sides */
}


.logo {
    flex: 1;
}

/*#region Navigation*/
nav ul {
    list-style-type: none;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .logo, nav ul {
        flex: none;
        margin: 10px 0;
    }
}


nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.active {
    color: grey;
}
/*#endregion Navigation*/
/*#endregion Header*/





